export(pdf_lecture_notes)
export(beamer_vandals)
export(aea_article)
export(ajae_article)
importFrom(rmarkdown,beamer_presentation)
importFrom(rmarkdown,includes_to_pandoc_args)
importFrom(rmarkdown,knitr_options)
importFrom(rmarkdown,output_format)
importFrom(rmarkdown,pandoc_options)
importFrom(rmarkdown,pandoc_variable_arg)